   
@media screen and (min-width:320px)and (max-width:442px){


    .container{
       display: grid;
       place-content: $alignAll;
       margin-top: 10vh;
       margin-bottom: 10vh;
       margin-left: 10wv;
       margin-right: 10wv;

      
    
    
        .qrBackground{
        
            font-size: 10px;
            
            .QR{
                width: 300px;
            }
          
         }
        }
        .footer{
      text-align:$alignAll;
      position: absolute;
      bottom: 0;
      width: 100%;
        }
} 

@media screen and (min-width:443px)and (max-width:769px){

    .container{
       display: grid;
       place-content: $alignAll;
       margin-top: 20vh;
       margin-bottom: 20vh;
       margin-left: 20wv;
       margin-right: 20wv;
      
    
    
        .qrBackground{
        
            
            .QR{
                width: 60vw;
            }
          
         }
        }
}  

@media screen and (min-width:770px)and (max-width:1270px){
   
   .container{
    margin-top:50vh;
    margin-bottom:50vh ;
   }
    .qrBackground{

    
        font-size: 8px;
        .QR{
            width: 30vw;
        }
      
     }


}

