   
@media screen and (min-width:318px)and (max-width:442px){


    .container{
       display: grid;
       place-content: $alignAll;
       margin-top: 10vh;
       margin-bottom: 10vh;
       margin-left: 10vw;
       margin-right: 10vw;

      
    
    
        .qrBackground{
        
            font-size: 9px;
            width: 80vw;
            padding: 0;
            margin: 0;
            
            .QR{
                width: 75vw;
            }
          
         }
        }
        .footer{
        text-align:$alignAll;
        bottom: 0;
         width: 100%;
                }
} 

@media screen and (min-width:443px)and (max-width:769px){

    .container{
       display: grid;
       place-content: $alignAll;
       margin-top: 20vh;
       margin-bottom: 20vh;
       margin-left: 20wv;
       margin-right: 20wv;
      
    
    
        .qrBackground{
        
            
            .QR{
                width: 50vw;
            }
          
         }
        }
}  

@media screen and (min-width:770px)and (max-width:1270px){
   
   .container{
    margin-top:50vh;
    margin-bottom:50vh ;
   }
    .qrBackground{

    
        font-size: 8px;
        .QR{
            width: 30vw;
        }
      
     }


}

