//colors

$white:#FFFFFE;
$lightGrey:hsl(212, 45%, 89%);
$grayDark:#A9a9a9;
$darkBlue:hsl(218, 44%, 22%);

//font
$parras1: 2.2em;
$parras2: 1.5em;
$parras3: 1em;
$Weights1:700;
$Weights2:400;
$fontMain:'Outfit', sans-serif;

//box sizing
$paddingAll: 0.5em 0.5em 0.5em;
$marginAll: 0.5em 0.5em 0.5em;
$borderrounded: 1.7em;
$alignAll: center;

